<div class="bg" style="background-image: url('../../../assets/images/im4.jpg');"></div>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            Fogot password
        </mat-card-title>
      </mat-card-header>

<form [formGroup]="fogotpassword" (ngSubmit)="submit()">
   

<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" id="email" formControlName="email"  >
    <mat-error *ngIf="fogotpassword.get('email')?.touched && fogotpassword.get('email')?.errors?.['required']">
        email is required
    </mat-error>
    <mat-error *ngIf="fogotpassword.get('email')?.touched && fogotpassword.get('email')?.errors?.['email']">
        email should be valid
    </mat-error>
    <mat-error *ngIf="fogotpassword.get('email')?.touched && fogotpassword.get('email')?.errors?.['maxlength']">
        email at most 100  charaters
    </mat-error>
</mat-form-field>



<div class="button">
<button mat-raised-button  type="submit" id="bt1">Send</button>
<button mat-raised-button  (click)="reset()" id="bt2">Cancel</button>
</div>
</form>

</mat-card>
