

<mat-drawer-container autosize>
  
  <mat-drawer #drawer opened="true" mode="side" position="end" class="drawer">
    
  <mat-nav-list >
     
      <mat-list-item>
      </mat-list-item>
      <mat-list-item *ngIf="badgevisible">
        <button (click)="clearNotification()" mat-button>
          <mat-icon matBadge="{{notifications.length}}" matBadgeColor="warn">notifications</mat-icon>
        
        </button>
      </mat-list-item>
      <mat-list-item>

          <button routerLink="/web-cam" mat-button [@fadeInOutAnimation]><mat-icon>Camera</mat-icon> Profile Pic</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/view" mat-button><mat-icon [@fadeInOutAnimation]>dashboard</mat-icon> Dashboard</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/new" mat-button><mat-icon [@fadeInOutAnimation]>Create</mat-icon> New</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/viewmy" mat-button [@fadeInOutAnimation]><mat-icon>ViewMy</mat-icon> My Post</button>
    </mat-list-item>
      
     
      
      <mat-list-item>
          <button (click)="logout()" mat-button [@fadeInOutAnimation]><mat-icon>logout</mat-icon> Logout</button>
      </mat-list-item>
      
     
      
     
  </mat-nav-list>
  </mat-drawer> 
  <mat-drawer-content  class="content">
      <div style="color: black;">
        <ng-content></ng-content>
        
          </div>
  </mat-drawer-content>
</mat-drawer-container>