<app-menubar>
  <div class="bg" style="background-image: linear-gradient(to right, #060996, #ad0808);"></div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title id="tit">Create Your Post</mat-card-title>
    </mat-card-header>  
    <mat-card-content>
      <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)" class="example-form">
        <input type="hidden" id="username" name="username" [(ngModel)]="postdata.username">
        <div class="fields">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" id="title" name="title" [(ngModel)]="postdata.title" required minlength="1" maxlength="100">
            <mat-error *ngIf="postForm.controls['title']?.touched && postForm.controls['title']?.errors?.['required']">
              Title is required
            </mat-error>
            <mat-error *ngIf="postForm.controls['title']?.touched && postForm.controls['title']?.errors?.['minlength']">
              Title must be at least 1 character
            </mat-error>
            <mat-error *ngIf="postForm.controls['title']?.touched && postForm.controls['title']?.errors?.['maxlength']">
              Title must be at most 100 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Author</mat-label>
            <input matInput type="text" id="author" name="author" [(ngModel)]="postdata.author" required minlength="1" maxlength="50">
            <mat-error *ngIf="postForm.controls['author']?.touched && postForm.controls['author']?.errors?.['required']">
              Author is required
            </mat-error>
            <mat-error *ngIf="postForm.controls['author']?.touched && postForm.controls['author']?.errors?.['minlength']">
              Author must be at least 1 character
            </mat-error>
            <mat-error *ngIf="postForm.controls['author']?.touched && postForm.controls['author']?.errors?.['maxlength']">
              Author must be at most 50 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Content</mat-label>
            <textarea matInput id="content" name="content" [(ngModel)]="postdata.content" rows="5" cols="10" required minlength="1" maxlength="200"></textarea>
            <mat-error *ngIf="postForm.controls['content']?.touched && postForm.controls['content']?.errors?.['required']">
              Content is required
            </mat-error>
            <mat-error *ngIf="postForm.controls['content']?.touched && postForm.controls['content']?.errors?.['minlength']">
              Content must be at least 1 character
            </mat-error>
            <mat-error *ngIf="postForm.controls['content']?.touched && postForm.controls['content']?.errors?.['maxlength']">
              Content must be at most 200 characters
            </mat-error>
          </mat-form-field>
        </div>
        <mat-card-actions>
          <div class="button-container">
            <button mat-button type="submit" id="post">Post</button>
            <button mat-button type="button" id="clear" (click)="reset(postForm)">Clear</button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</app-menubar>
