.webcam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  video {
    width: 100%;
    max-width: 400px;
  }
  
  canvas {
    display: none;
  }
  
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }