<div  class="bg" style="background-image: url('../../../assets/images/reset.jpg');"></div>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
          Reset Password
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        
          <input type="hidden" formControlName="email"  id="email">
         <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="pwd" formControlName="pwd">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="resetForm.get('pwd')?.touched && resetForm.get('pwd')?.errors?.['required']">
              Password is required
            </mat-error>
            <mat-error *ngIf="resetForm.get('pwd')?.touched && !resetForm.get('pwd')?.errors?.['required'] && resetForm.get('pwd')?.errors?.['minlength']">
              Password must be at least 6 characters
            </mat-error>
            <mat-error *ngIf="resetForm.get('pwd')?.touched && !resetForm.get('pwd')?.errors?.['required'] && !resetForm.get('pwd')?.errors?.['minlength'] && resetForm.get('pwd')?.errors?.['maxlength']">
              Password must be at most 15 characters
            </mat-error>
            <mat-error *ngIf="resetForm.get('pwd')?.touched && !resetForm.get('pwd')?.errors?.['required'] && !resetForm.get('pwd')?.errors?.['minlength'] && !resetForm.get('pwd')?.errors?.['maxlength'] && resetForm.get('pwd')?.errors?.['pattern']">
              must be at least one number one Upper and lower case letter and no symbol
            </mat-error>
         </mat-form-field>
  
         <mat-form-field appearance="outline">
          <mat-label>Re-Enter-Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="confirm_pwd" formControlName="confirm_pwd">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
         
          <mat-error *ngIf="resetForm.get('confirm_pwd')?.touched && resetForm.get('confirm_pwd')?.errors?.['required']">
            Password is required
          </mat-error>
         
        </mat-form-field>
        <mat-error *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirm_pwd')?.touched">
          Passwords do not match
        </mat-error>
       
    
       <div class="button-container"> 
          <button mat-raised-button  type="submit" id="bt1" >Submit</button>
          <button mat-raised-button type="button" (click)="reset()" id="bt2">Cancel</button>
          
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  